<ion-card>
    <img [src]="user.photo" width="300px" height="300px" />
    <ion-card-header>
        <ion-card-title>{{ user.name }}, 33</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>A talented software engineer and man of few words</p>
    </ion-card-content>
    <ion-row class="justify-content-around" class="button-row">
        <ion-col>
            <ion-button (click)="onCrossClick()" fill="clear" color="danger">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col dir="rtl">
            <ion-button (click)="onTickClick()" fill="clear" color="success">
                <ion-icon name="heart-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-card>
