ion-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 35px;
  border-radius: 5%;
}

ion-card ion-card-title {
  text-align: center;
}

ion-card {
  --background: -webkit-linear-gradient(bottom, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
  --background: -o-linear-gradient(bottom, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
  --background: -ms-linear-gradient(bottom, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
  --background: -moz-linear-gradient(bottom, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
  --background: linear-gradient(to top, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
}

.button-row {
  background-color: white;
}

ion-card-content,
ion-card-title {
  color: white;
}

ion-card-title {
  font-weight: 100;
}

.match-message {
  background-color: rgb(70 133 73);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#location-icon {
  font-size: 25px;
  vertical-align: middle;
  margin-bottom: 3px;
}

#name {
  font-size: 28px;
}

#bio {
  font-size: 16px;
  text-align: center;
  // font-style: italic;
}

#location {
  font-size: 20px;
  padding: 15px 0px;
  margin: 0px;
  text-align: center;
  color: white;
}

#cross-button {
  border-radius: 10%;
}

#cross-button:hover {
  background-color: red;
}

#cross-button:hover ion-icon {
  color: white;
}

#tick-button {
  border-radius: 10%;
}

#tick-button:hover {
  background-color: green;
}

#tick-button:hover ion-icon {
  color: white;
}

#tick-button,
#cross-button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 0px;
}

#tick-button ion-icon,
#cross-button ion-icon {
  font-size: 35px;
}

#buttons-div {
  width: 100%;
  background:white;
  display: flex;
  justify-content: center;
  height: 70px;
}

.common-interests {
  text-align: center;
  color: white;
  font-weight: normal;
}
