<ion-content>
  <ion-grid class="login-container">
    <ion-row>
      <ion-col class="form-container">
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
          <h1 style="padding: 3%;text-align: center;font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Login</h1>
          <ion-item class="input-container">
            <ion-input type="email" name="email" ngModel placeholder="Email" #emailInput="ngModel" required email
              clearInput="true"></ion-input>
            <ion-icon slot="start" name="mail-outline" class="input-icon"></ion-icon>
          </ion-item>

          <ion-item class="input-container">
            <ion-input type="password" name="password" ngModel placeholder="Password"
              #passwordInput="ngModel"></ion-input>
            <ion-icon slot="start" name="lock-closed-outline" class="input-icon"></ion-icon>
          </ion-item>

          <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

          <ion-button type="submit" class="login-button" expand="block">Login</ion-button>

          <div class="signup-link-container">
            Don't have an account? <a routerLink="/signup" class="signup-link">Sign up</a>
          </div>
        </form>

        <div class="spinner-container" *ngIf="isLoading">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
