<ion-header *ngIf="!touchDevice" [class.toolbar-dark-mode]="darkMode">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div style="display: flex;margin-right: 1rem;">
      <ion-title speakOnHover [textToSpeak]="'Matched Users'">
        Matched Users
      </ion-title>
      <ion-toggle speakOnHover [textToSpeak]="'Toggle high contrast mode'"
        (ionChange)="toggleDarkMode();playButtonSound();"></ion-toggle>
      <app-voice-navigation-button speakOnHover
        [textToSpeak]="'Click here to use voice navigation'"></app-voice-navigation-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="touchDevice" [class.toolbar-dark-mode]="darkMode">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title speakOnHover [textToSpeak]="'Matched Users'">
      Matched Users
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle speakOnHover [textToSpeak]="'Toggle high contrast mode'"
        (ionChange)="toggleDarkMode();playButtonSound();"></ion-toggle>
      <app-voice-navigation-button></app-voice-navigation-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class.dark-mode]="darkMode">
  <!-- <ion-button *ngIf="touchDevice" (click)="speakText('Matched Users')" size="small"></ion-button> -->
  <ion-list *ngIf="matchedUsers.length > 0">
    <h2 speakOnHover [textToSpeak]="'Below is a list of users that you have matched with, and can now message.'">Below
      is a list of users that you have matched with, and can now message.</h2>
    <ion-item (click)="onUserSelected(matchedUser);playButtonSound();" *ngFor="let matchedUser of matchedUsers"
      class="user-item">
      <ion-avatar slot="start"
        (click)="onUserProfileSelected(matchedUser._id);playButtonSound(); $event.stopPropagation()">
        <img [src]="'http://localhost:3000/' + matchedUser.profileImage" class="users-profile-picture" />
      </ion-avatar>
      <ion-label>
        <span id="matched-user-name-{{ matchedUser._id }}" class="speak-on-hover" speakOnHover
          [textToSpeak]="matchedUser.name">{{ matchedUser.name }}</span>
      </ion-label>
      <ion-badge *ngIf="getUnreadCount(matchedUser._id) > 0" slot="end">{{ getUnreadCount(matchedUser._id)
        }}</ion-badge>
      <ion-button slot="end" id="unmatchBtn"
        (click)="unmatchUser(matchedUser);playButtonSound(); $event.stopPropagation()" speakOnHover
        [textToSpeak]="'Unmatch with ' + matchedUser.name">Unmatch</ion-button>
    </ion-item>
  </ion-list>

  <div style="margin-top: 20px; text-align: center;" *ngIf="matchedUsers.length < 1">
    <ion-title style="padding-bottom:10px;">No Matches Yet</ion-title>
    <p>You haven't matched with any users yet.</p>
    <p>Please go to the home page to like users. If you get a match, you'll be able to message them and they'll show
      up
      here.</p>
    <ion-button routerLink="/home">Go to Home Page</ion-button>
  </div>

</ion-content>
