<ion-header *ngIf="!touchDevice">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div id="toolbar">
      <ion-title speakOnHover [textToSpeak]="'Meet People'">Meet People</ion-title>
      <ion-button *ngIf="touchDevice" (click)="speakText('Meet People')" size="small" slot="end"
        class="speak-button">Speak</ion-button>
      <app-voice-navigation-button speakOnHover
        [textToSpeak]="'Click here to use voice navigation'"></app-voice-navigation-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="touchDevice">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title speakOnHover [textToSpeak]="'Events'">
      Meet People
    </ion-title>
    <ion-buttons slot="end">
      <app-voice-navigation-button speakOnHover
        [textToSpeak]="'Click here to use voice navigation'"></app-voice-navigation-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">

      <ion-col size="12" size-md="6" class="image-col">
        <div class="location">
          <ion-icon name="location" style="color: white;"></ion-icon>
          <span class="speak-flex" speakOnHover
            [textToSpeak]="displayedUser?.location">{{displayedUser?.location}}<ion-button *ngIf="touchDevice"
              (click)="speakText(displayedUser?.location + '')" size="small" slot="end"
              class="speak-button">Speak</ion-button></span>
        </div>
        <div class="image-container">
          <img *ngIf="displayedUser?.profileImage" speakOnHover [textToSpeak]="'An image of ' + displayedUser?.name"
            [src]="'http://localhost:3000/' + displayedUser.profileImage" class="profile-img" />
        </div>
      </ion-col>

      <ion-col size="12" size-md="6" class="info-col">
        <span class="name speak-flex" speakOnHover [textToSpeak]="displayedUser?.name + ', ' + displayedUser?.age">
          {{displayedUser?.name}},
          {{ displayedUser?.age }}<ion-button *ngIf="touchDevice"
            (click)="speakText(displayedUser?.name + ', ' + displayedUser?.age)" size="small" slot="end"
            class="speak-button">Speak</ion-button></span>
        <span class="bio speak-flex" speakOnHover [textToSpeak]="displayedUser?.bio">
          {{displayedUser?.bio}}<ion-button *ngIf="touchDevice" (click)="speakText(displayedUser?.bio + '')"
            size="small" slot="end" class="speak-button">Speak</ion-button></span>

        <div id="profile-buttons">
          <ion-button id="profileButton" (click)="onUserProfileSelected(displayedUser?._id!); $event.stopPropagation()"
            speakOnHover [textToSpeak]="'Click here to see' + displayedUser?.name + '\'s full profile'">
            See full profile
          </ion-button>
          <ion-button id="listenToProfileButton" (click)="onListenToProfileClick()" speakOnHover
            [textToSpeak]="'Click here to listen to '  + displayedUser?.name + '\'s full profile'">
            Listen to Profile <ion-icon name="volume-high" style="margin-left: 5px;"></ion-icon>
          </ion-button>
        </div>

        <ng-container *ngIf="commonInterests || likedYouToo">
          <div class="match-message" id="match-message" [@fadeInOut]>
            <div *ngIf="commonInterests && !likedYouToo" class="common-interests" speakOnHover
              [textToSpeak]="'You have common interests with this person!'">
              You have common interests with this person!
              <ion-button *ngIf="touchDevice" (click)="speakText('You have common interests with this person!')"
                size="small" id="match-message-speaker-button">
                <ion-icon name="volume-high-outline"></ion-icon>
              </ion-button>
            </div>
            <div *ngIf="likedYouToo" speakOnHover
              [textToSpeak]="displayedUser?.name + ' also liked you! Message her now!'">
              <p class="common-interests">{{displayedUser?.name}} also liked you!</p>
              <ion-button (click)="navigateToConversation(displayedUser?._id!)" color="primary" size="small">
                Message {{displayedUser?.name}} now!
              </ion-button>
            </div>
          </div>
        </ng-container>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item class="ion-no-padding">
      <div id="buttons-div">
        <ion-button (click)="onCrossClick(displayedUser)" fill="clear" color="danger" id="cross-button" size="large"
          speakOnHover [textToSpeak]="'Dislike'">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="onTickClick(displayedUser)" fill="clear" color="success" id="tick-button" size="large"
          speakOnHover [textToSpeak]="'Like'">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-footer>
