<ion-header *ngIf="touchDevice">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Meet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <p id="location">
        <span>
          <ion-icon id="location-icon" name="location"></ion-icon>
          <span id="location-span" (mouseenter)="onMouseEnter($event.target)"
            (mouseleave)="onMouseLeave($event.target)">{{displayedUser?.location}}</span>
        </span>
        <ion-button *ngIf="touchDevice" (click)="speakText(displayedUser?.location!)" size="small">
          <ion-icon name="volume-high-outline"></ion-icon>
        </ion-button>
      </p>

      <div class="profile-image">
        <ng-container *ngIf="displayedUser?.profileImage">
          <img [src]="'http://localhost:3000/' + displayedUser.profileImage" width="300px" height="300px"
            class="profile-img" id="user-image" (mouseenter)="onMouseEnter($event.target)"
            (mouseleave)="onMouseLeave($event.target)" (click)="openImage('http://localhost:3000/' + displayedUser.profileImage)" />
        </ng-container>
      </div>

      <div class="card-header">
        <ion-card-title id="nameCard" class="text"><span id="name" (mouseenter)="onMouseEnter($event.target)"
            (mouseleave)="onMouseLeave($event.target)">{{displayedUser?.name}}<span *ngIf="displayedUser?.age">, {{
              displayedUser?.age }}</span></span>
          <ion-button *ngIf="touchDevice" (click)="speakText(displayedUser?.name! + ', ' + displayedUser?.age!)"
            size="small">
            <ion-icon name="volume-high-outline"></ion-icon>
          </ion-button>
        </ion-card-title>
        <div class="text" id="bio-interests-div">
          <div id="bio" (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">
            {{displayedUser?.bio}}</div>
          <ion-button *ngIf="touchDevice" (click)="speakText(displayedUser?.bio!)" size="small">
            <ion-icon name="volume-high-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div id="see-full-profile">
        <ion-button id="profileButton" (click)="onUserProfileSelected(displayedUser?._id!); $event.stopPropagation()" (mouseenter)="onMouseEnter($event.target)"
        (mouseleave)="onMouseLeave($event.target)">
          See full profile
        </ion-button>
        <ng-container id="listen-to-profile">
          <ion-button id="listenToProfileButton" (click)="onListenToProfileClick()" (mouseenter)="onMouseEnter($event.target)"
            (mouseleave)="onMouseLeave($event.target)">
            Listen to Profile
          </ion-button>
        </ng-container>
      </div>

      <ng-container *ngIf="commonInterests || likedYouToo">
        <div class="match-message" id="match-message" [@fadeInOut] (mouseenter)="onMouseEnter($event.target)"
          (mouseleave)="onMouseLeave($event.target)">
          <div *ngIf="commonInterests && !likedYouToo" class="common-interests">
            You have common interests with this person!
            <ion-button *ngIf="touchDevice" (click)="speakText('You have common interests with this person!')"
              size="small" id="match-message-speaker-button">
              <ion-icon name="volume-high-outline"></ion-icon>
            </ion-button>
          </div>
          <div *ngIf="likedYouToo">
            <p>{{displayedUser?.name}} also liked you!</p>
            <ion-button (click)="navigateToConversation(displayedUser?._id!)" color="primary" size="small">
              Message {{displayedUser?.name}} now!
            </ion-button>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item class="ion-no-padding">
      <div id="buttons-div">
        <ion-button (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)"
          (click)="onCrossClick(displayedUser)" fill="clear" color="danger" id="cross-button" size="large">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)"
          (click)="onTickClick(displayedUser)" fill="clear" color="success" id="tick-button" size="large">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-footer>
