@import "~@ionic/angular/css/core.css";

ion-content {
  // --background: linear-gradient(to top, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%);
  background: radial-gradient(circle, #a71d31, #5e0d18);
}

#toolbar {
  margin-right: 1rem;
}

.location,
img,
.name,
.bio,
.match-message,
ion-title {
  cursor: help;
}

ion-grid {
  padding: 0px;
}

span {
  line-height: initial;
  color: white;
}

.image-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  ion-icon {
    margin-right: 0.5rem;
  }
}

.image-container {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 90%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

ion-footer ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.name {
  font-size: 2.2rem;
  font-weight: 550;
  margin-top: 1rem;
}

.bio {
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: center;
}

ion-button {
  margin-top: 1rem;
}


.match-message {
  background-color: rgb(70 133 73);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 26px black;
}

#match-message-speaker-button {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.common-interests {
  text-align: center;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-buttons {
  display: flex;
  margin-top: 1rem;
}

#buttons-div {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  height: 70px;
  margin-top: auto;
}

img {
  max-height: 400px;
  max-width: 100%;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 100%;
  }
}

#cross-button,
#tick-button {
  border-radius: 10%;
}

#cross-button:hover {
  background-color: red;

  ion-icon {
    color: white;
  }
}

#tick-button:hover {
  background-color: green;

  ion-icon {
    color: white;
  }
}

#tick-button,
#cross-button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 0px;

  ion-icon {
    font-size: 35px;
  }
}

@media only screen and (max-width: 576px) {
  ion-button {
    margin-top: 0px;
  }
  .match-message {
    margin-top: 0px;
  }

  #tick-button ion-icon,
  #cross-button ion-icon {
    font-size: 30px;
  }
}

.speak-flex {
  display: inline-flex;
  align-items: center;
}

.speak-button {
  margin-left: 0.5rem;
}

.dark-mode {
  --background: #1c1c1c;
}

.footer-dark-mode {
  ion-icon {
    color: white;
  }

  #cross-button {
    background: red !important;
  }

  #tick-button {
    background-color: green;
  }

  #cross-button:hover, #tick-button:hover {
    opacity: 0.5;
  }

}

.toolbar-dark-mode {
  ion-toolbar {
    background: #1c1c1c;
    color: white;
    border-bottom: 1px white solid;
  }
}
