<ion-content *ngIf="events.length > 0">
    <ion-card *ngFor="let event of events">
        <ion-card-content>
            <ion-card-header>
                {{ event.location }}
            </ion-card-header>
            <ion-card-subtitle>{{event.date}}</ion-card-subtitle>
            <ion-card-title>{{event.title}}</ion-card-title>
            <ion-card-subtitle>{{event.description}}</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-content *ngIf="events.length === 0">
    <p style="text-align: center;">No events yet</p>
</ion-content>