main {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.event-image {
max-width: 150px;
max-height: 150px;
width: auto;
height: auto;
}

#card-stuff {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

#location-label {
  padding: 0.3rem;
  margin: 0.3rem;
}

ion-card-content {
  display: flex;
}

.read-event-info-button {
  margin: 0.3rem;
  position: absolute;
  top: 0;
  right: 0;
}


#toolbar {
  display: flex;
}

@media only screen and (max-width: 768px) {
  #toolbar {
    flex-direction: row-reverse;
  }
}
