<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div id="toolbar">
      <ion-title>
        Events
      </ion-title>
      <ion-button routerLink="create" style="padding: 0px 20px">Create Event</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="background: linear-gradient(to top, rgb(224, 74, 124) 0%, rgb(246, 94, 105) 100%)">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <main *ngIf="events.length > 0 && !isLoading">
    <ion-card *ngFor="let event of events" style="background: white;">
      <ion-item>
        <ion-card-title>{{event.title}}</ion-card-title>
      </ion-item>
      <ion-card-content>
        <img *ngIf="event.imagePath" [src]="event.imagePath" alt="Event Image" class="event-image">
        <div id="card-stuff">
          <ion-card-subtitle>{{ event.date | date:'medium' }}</ion-card-subtitle>
          <p>{{event.description}}</p>
        </div>
      </ion-card-content>
      <ion-label id="location-label"><ion-icon name="pin" slot="end"></ion-icon><i>{{ event.location }}</i></ion-label>
      <ion-row *ngIf="userIsAuthenticated && userId === event.creator">
        <ion-col>
          <ion-button fill="outline" [routerLink]="['/events/edit', event.id]" expand="block"
            color="primary">Edit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" expand="block" color="danger" (click)="onDelete(event.id!)">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </main>

  <main *ngIf="events.length === 0 && !isLoading">
    <ion-card>
      <ion-card-content>
        <p style="text-align: center;">No events yet</p>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
