<ion-header>
  <ion-toolbar>
    <ion-title speakOnHover [textToSpeak]="'Confirm log out'">
      Confirm Logout
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label speakOnHover [textToSpeak]="'Are you shore you want to log out?'">
        Are you sure you want to log out?
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="dismiss(false);playButtonSound();" color="primary" expand="block" speakOnHover [textToSpeak]="'Cancel'">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="dismiss(true);playButtonSound();" color="danger" expand="block" speakOnHover [textToSpeak]="'Log Out'">
          Log Out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
