<ion-app>
  <!-- Remove ng-container to show sidenav when not logged in -->
  <ng-container *ngIf="userIsAuthenticated">
    <ion-split-pane contentId="main-content" when="md">
      <ion-menu class="sidemenu" id="top-level-menu" contentId="main-content" type="overlay">
        <ion-list lines="full" id="meet-list">
          <ion-list padding class="ion-text-center" id="welcome">
            <div class="profile-container">
              <a routerDirection="root" [routerLink]="['/profile']" lines="none" detail="false"
                routerLinkActive="selected" class="profile-button" id="page-profile" (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">
                <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
              </a>
              <div>
                <ion-title class="ion-text-center">Stay Connected</ion-title>
                <ion-label class="ion-text-center" *ngIf="userIsAuthenticated">Welcome, {{
                  userName && userName.indexOf(' ') !== -1 ? userName.split(' ')[0] : userName
                }}!</ion-label>
              </div>

              <a routerDirection="root" [routerLink]="['/settings']" lines="none" detail="false"
                routerLinkActive="selected" class="settings-button" id="page-settings" (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">
                <ion-icon slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
              </a>
            </div>
          </ion-list>

          <div class="sidenav-container">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ng-container *ngIf="userIsAuthenticated">
                <ion-item *ngIf="p.title !== 'Messages'" routerDirection="root" [routerLink]="[p.url]" lines="none"
                  detail="false" routerLinkActive="selected" class="sidenav-items" [@fadeInOut]>
                  <ion-item id="sidenav-ion-item">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                      [md]="p.icon + '-outline'"></ion-icon>
                    <ion-label id="page-{{ p.title }}" (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">{{ p.title }}</ion-label>
                  </ion-item>
                </ion-item>

                <ion-item *ngIf="p.title === 'Messages'" routerDirection="root" [routerLink]="[p.url]" lines="none"
                  detail="false" routerLinkActive="selected" class="sidenav-items" [@fadeInOut]>
                  <ion-item id="sidenav-ion-item">
                    <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                      [md]="p.icon + '-outline'"></ion-icon>
                    <ion-label id="page-{{ p.title }}" (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">{{ p.title }}</ion-label>
                    <ion-badge *ngIf="unreadMessagesCount > 0" slot="end">{{ unreadMessagesCount }}</ion-badge>
                  </ion-item>
                </ion-item>
              </ng-container>
            </ion-menu-toggle>

            <div class="bottom-buttons">
              <ng-container *ngIf="!userIsAuthenticated">
                <ion-item lines="none" detail="false" class="sidenav-items" [@fadeInOut]>
                  <ion-item id="sidenav-ion-item" routerLink="/login">
                    <ion-icon name="log-in-outline" slot="start"></ion-icon>
                    <ion-label>Log In</ion-label>
                  </ion-item>
                </ion-item>
              </ng-container>
              <ng-container *ngIf="!userIsAuthenticated">
                <ion-item lines="none" detail="false" class="sidenav-items" [@fadeInOut]>
                  <ion-item id="sidenav-ion-item" routerLink="/signup">
                    <ion-icon name="person-add-outline" slot="start"></ion-icon>
                    <ion-label>Sign Up</ion-label>
                  </ion-item>
                </ion-item>
              </ng-container>
                <ion-item lines="none" detail="false" class="sidenav-items" id="page-logout" [@fadeInOut]>
                  <ion-item id="sidenav-ion-item" (click)="onLogout()">
                    <ion-icon name="log-in-outline" slot="start"></ion-icon>
                    <ion-label>Log Out</ion-label>
                  </ion-item>
                </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ng-container>
  <ng-container *ngIf="!userIsAuthenticated">
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
</ion-app>
