/* Add a small white strip to the left side of the selected item but not profile */
.selected:not(#profile-a) {
  border-left: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.25);
}

#profile-a:hover ion-icon {
  opacity: 0.4;
}

.sidenav-container {
  // background: #df1c6b;
  height: 100%;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button {
  width: 2em;
  height: 2em;
  color: #d3d3d3;
}

.settings-button,
.profile-button {
  display: flex;
  align-items: center;
}

.settings-button {
  width: 2em;
  height: 2em;
  color: #d3d3d3;
}

.sidenav-items {
  color: white;
}

ion-icon {
  font-size: 28px;
  color: white;
}

#sidenav-ion-item {
  margin-left: 10px;
  width: 100%;
}

.sidenav-item {
  margin-left: 5px;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  color: white;
}

ion-list {
  font-family: 'Proxima Nova', sans-serif;
}

#welcome {
  padding: 10% 0%;
  border-bottom: 1px solid white;
  border-radius: 0px;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

#top-level-menu {
  background: #df1c6b;
  // background: transparent;
}

:host {
  --border: 1px solid transparent !important;
}

@media only screen and (max-width: 768px) {
  /* styles for mobile and tablets */
  #top-level-menu {
    background: transparent;
  }
}

#meet-list {
  min-height: 100%;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  background: #df1c6b;
}

#logOutButton {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logout-button {
  position: absolute;
  bottom: 0;
  color: white;
}

#logOutButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

ion-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidemenu {
  --side-max-width: 25%;
}

:host ion-item {
  --background-hover-opacity: 0.25;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#meet-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#meet-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item ion-icon {
  color: white;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  // color: #73849a;
  color: white;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}
