<ion-header *ngIf="!touchDevice">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div style="display: flex;margin-right: 1rem;">
      <ion-title speakOnHover [textToSpeak]="'Messages'">
        Messages
      </ion-title>
      <app-voice-navigation-button speakOnHover
        [textToSpeak]="'Click here to use voice navigation'"></app-voice-navigation-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="touchDevice">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title speakOnHover [textToSpeak]="'Messages'">
      Messages
    </ion-title>
    <ion-buttons slot="end">
      <app-voice-navigation-button speakOnHover
        [textToSpeak]="'Click here to use voice navigation'"></app-voice-navigation-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="contacts$ | async as contacts">
      <ion-item *ngFor="let contact of contacts" [routerLink]="['/conversation', contact._id]">
        <ion-avatar slot="start">
          <img [src]="'http://localhost:3000/' + contact.profileImage" />
        </ion-avatar>
        <ion-label>
          <h2>{{contact.name}}</h2>
          <p *ngIf="getUnreadMessageCount(contact) > 0" class="ion-text-nowrap">{{getUnreadMessageCount(contact)}} new
            message(s)</p>
        </ion-label>
        <ion-badge *ngIf="getUnreadMessageCount(contact) > 0" slot="end"
          color="danger">{{getUnreadMessageCount(contact)}}</ion-badge>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
