<ion-content class="ion-padding">

  <ion-title id="matched-users-title" *ngIf="matchedUsers.length > 0" (mouseenter)="onMouseEnter($event.target)"
    (mouseleave)="onMouseLeave($event.target)">Matched Users</ion-title>
  <ion-button *ngIf="touchDevice" (click)="speakText('Matched Users')" size="small"></ion-button>
    <ion-list *ngIf="matchedUsers.length > 0">
      <ion-item (click)="onUserSelected(matchedUser)" *ngFor="let matchedUser of matchedUsers" class="user-item">
        <ion-avatar slot="start" (click)="onUserProfileSelected(matchedUser._id); $event.stopPropagation()">
          <img [src]="'http://localhost:3000/' + matchedUser.profileImage" class="users-profile-picture" />
        </ion-avatar>
        <ion-label>
          <span id="matched-user-name-{{ matchedUser._id }}" class="speak-on-hover"
          (mouseenter)="onMouseEnter($event.target)" (mouseleave)="onMouseLeave($event.target)">{{ matchedUser.name }}</span>
        </ion-label>
        <ion-badge *ngIf="getUnreadCount(matchedUser._id) > 0" slot="end">{{ getUnreadCount(matchedUser._id)
          }}</ion-badge>
        <ion-button slot="end" id="unmatchBtn" (click)="unmatchUser(matchedUser); $event.stopPropagation()" (mouseenter)="onMouseEnter($event.target)"
        (mouseleave)="onMouseLeave($event.target)">Unmatch</ion-button>
      </ion-item>
    </ion-list>

    <div style="margin-top: 20px; text-align: center;" *ngIf="matchedUsers.length < 1">
      <ion-title style="padding-bottom:10px;">No Matches Yet</ion-title>
      <p>You haven't matched with any users yet.</p>
      <p>Please go to the home page to like users. If you get a match, you'll be able to message them and they'll show
        up
        here.</p>
      <ion-button routerLink="/home">Go to Home Page</ion-button>
    </div>

</ion-content>
