<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <img
      src="https://www.instyle.com/thmb/jgkc4eR3_98s3nDLaAUSG5JO0xk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Kim-Kardashian-Bikini-Lead-fc136058b9c24342ae2d21d0623a8333.jpg"
      alt="Profile Picture" class="profile-picture">
    <h1 class="profile-name">{{ currentUser?.name }}</h1>
    <p class="profile-bio" *ngIf="!editMode">
      {{currentUser?.bio}}
    </p>
    <p class="profile-bio" *ngIf="editMode">
      <ion-input [(ngModel)]="currentUser.bio"></ion-input>
    </p>
  </div>
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-card-title>Profile Information</ion-card-title>
        <ion-button (click)="toggleEditMode()">{{ editMode ? 'Save' : 'Edit' }}</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="!editMode">
          <ion-label>Name</ion-label>
          <ion-text>{{ currentUser?.name }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="currentUser.name"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editMode">
          <ion-label>Email</ion-label>
          <ion-text>{{ currentUser?.email }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Email</ion-label>
          <ion-text>{{ currentUser?.email }}</ion-text>
        </ion-item>

        <!-- <ion-item *ngIf="!editMode">
          <ion-label>Phone Number</ion-label>
          <ion-text>{{ currentUser?.phoneNumber }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Phone Number</ion-label>
          <ion-input [(ngModel)]="currentUser.phoneNumber"></ion-input>
        </ion-item> -->

        <ion-item *ngIf="!editMode">
          <ion-label>Age</ion-label>
          <ion-text>{{ currentUser?.age }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Age</ion-label>
          <ion-input type="number" [(ngModel)]="currentUser.age"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editMode">
          <ion-label>Gender</ion-label>
          <ion-text>{{ currentUser?.gender }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Gender</ion-label>
          <ion-input [(ngModel)]="currentUser.gender"></ion-input>
        </ion-item>

        <ion-item *ngIf="!editMode">
          <ion-label>Location</ion-label>
          <ion-text>{{ currentUser?.location }}</ion-text>
        </ion-item>

        <ion-item *ngIf="editMode">
          <ion-label>Location</ion-label>
          <ion-input [(ngModel)]="currentUser.location"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
