.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5%;
}

ion-header {
  background-color: white;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0px 0px 26px black;
}
