<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/settings/notifications">
      <ion-label>
        Notifications
      </ion-label>
    </ion-item>
    <ion-item routerLink="/settings/privacy">
      <ion-label>
        Privacy
      </ion-label>
    </ion-item>
    <ion-item routerLink="/settings/accessibility">
      <ion-label>
        Accessibility
      </ion-label>
    </ion-item>
    <ion-item routerLink="/settings/language">
      <ion-label>
        Language
      </ion-label>
    </ion-item>
    <ion-item routerLink="/settings/preferences">
      <ion-label>
        Preferences
      </ion-label>
    </ion-item>
    <ion-item routerLink="/settings/help">
      <ion-label>
        Help and Support
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
